@import "@styles/theme.scss";

.notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    border: 2px solid $color-black;
    width: fit-content;
    text-align: right;

    &__content {
        display: flex;
        align-items: center;

        & > p {
            text-align: initial;
            margin: 0 1.6rem 0 1.6rem;
        }
    }
    
}

.success {
    background-color: $color-success-light;
    color: $color-success;
}

.error {
    background-color: $color-error-light;
    color: $color-error;
}