@import "@styles/theme.scss";

// Your style here

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.8rem;
}

.label{
  padding-left: 2.4rem;
}

.guidance {
  padding-left: 2.4rem;
}

