@import "@styles/theme.scss";

// Your style here

.container{
  display: flex;
  align-items: center;
  gap: 0.8rem;

  .text{
    @include typo-guidance;
  }

  &.info{
    .text{
      color: #{$color-black}50;
    }
  }

  &.success{
    .text{
      color: #{$color-success}50;
    }
  } 
  
  &.error{
    .text{
      color: #{$color-error}50;
    }
  }
}
