@import "@styles/theme.scss";

.heading {
  position: fixed;
  left: 50%;
  top: calc(40px + 8.6rem);
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
<<<<<<< HEAD
  width: 100%;
  z-index: 9;
=======
  background-color: $color-beige;
  width: 100%;
  z-index: 100;
>>>>>>> b9dd4f1 (added mediaSelector, steps, refacto some stuff)
}
.link {
  position: fixed;
  top: calc(52px + 8.6rem);
  left: 100px;
<<<<<<< HEAD
  z-index: 10;
}

.background {
  position: fixed;
  background-color: $color-beige;
  height: 80px;
  width: 100%;
  left: 0;
  top: 8.6rem;
  z-index: 8;
=======
  z-index: 101;
>>>>>>> b9dd4f1 (added mediaSelector, steps, refacto some stuff)
}