@import "@styles/theme.scss";

// Your style here

.container{
  padding: 0 4px;
  font-family: $font-inter;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 300;
  width: fit-content;
}

.completed{
  background-color: $color-success-light;
  color: $color-success;
}

.progress{
  background-color: $color-info-light;
  color: $color-info;
}