@import "@styles/theme.scss";


// Headings style
.heading-xxl {
    @include typo-heading-xxl;
}

.heading-xl {
    @include typo-heading-xl;
}

.heading-lg {
    @include typo-heading-lg;
}

.heading-md {
    @include typo-heading-md;
}

.heading-sm {
    @include typo-heading-sm;
}

.heading-xs {
    @include typo-heading-xs;
}

.heading-xxs {
    @include typo-heading-xxs;
}

.paragraph-lg {
    @include typo-paragraph-lg;
}

.paragraph-md {
    @include typo-paragraph-md;
}

.paragraph-md-semi {
    @include typo-paragraph-md-semi;
}
.paragraph-md-bold {
    @include typo-paragraph-md-bold;
}

.paragraph-sm {
    @include typo-paragraph-sm;
}

.label {
    @include typo-label;
}

.guidance {
    @include typo-guidance;
}

// Colors
.black {
    color: $color-black;
}

.white {
    color: $color-white;
}

.beige {
    color: $color-beige;
}

.error {
    color: $color-error;
}

.error-light {
    color: $color-error-light;
}

.success {
    color: $color-success;
}

.success-light {
    color: $color-success-light;
}

.info {
    color: $color-info;
}

.info-light {
    color: $color-info-light;
}

.block{
    display: block;
}
.inline{
    display: inline;
}
.flex{
    display: flex;
}
.none {
    display: none;
}