@import "@styles/theme.scss";

// Your style here
.button {
    --arrows-size: 1.6rem;
    --anim-time: .3s;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        .button__arrows_ctn {
            transform: none;
        }

        .button__label::after {
            transform: scaleX(1);
        }
    }

    &.left:hover .button__arrows_ctn {
        transform: translate3d(calc(-100% - 1rem), 0, 0);
    }

    &__label {
        position: relative;
        width: 100%;
        margin: 0 .4rem;
        white-space: nowrap;

        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: $color-black;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform var(--anim-time) ease-in-out;
        }
    }

    &.left .button__label::after {
        transform-origin: right;
    }

    &__arrows {
        height: var(--arrows-size);
        width: var(--arrows-size);
        min-width: var(--arrows-size);
        overflow: hidden;
        
        &_ctn {
            display: flex;
            transform: translate3d(calc(-100% - 1rem), 0, 0);
            transition: transform var(--anim-time) ease-in-out;
        }
    }

    &.left .button__arrows_ctn {
        transform: none;
    }

    li + li {
        margin-left: 1rem;
    }
}