@import "@styles/theme.scss";

// Your style here

.container {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.formContainer {
  max-width: 50rem;
}

.title {
  font-size: 3.2rem;
  font-family: $font-decay;
  font-weight: normal;
  line-height: 1.5em;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
