@import "@styles/theme.scss";

// Your style here



.list{
  display: flex;
  flex-direction: column;
  border: 2px solid $color-black;
  padding: 4px;
  width: fit-content;
  position: relative;
  top: 2.6rem;
  opacity: 0;
  pointer-events: none;
  &.isOpen{
      opacity: 1;
      pointer-events: auto;
  }
  

  &::before{
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: $color-white;
    border-left: 2px solid $color-black;
    border-top: 2px solid $color-black;
    background-color: $color-beige;
    top: calc(-1rem + 2px + 1px);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
}


.item{
  display: flex;
  align-items: center;
  padding: 32px 8px;
  font-size: 1.6rem;
  font-weight: bold;
  color: $color-black;
  font-family: $font-inter;
  
}


.button {
  cursor: pointer;
  outline: none;
  border: none;
  width: fit-content;
  display: inline;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: $font-inter;
  font-weight: bold;
  padding: 1.6rem 2.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $color-black;
  box-sizing: border-box;
  text-decoration: none;
  color: $color-white;
  position: relative;
  transition: all .1s ease;

  &:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid $color-black;
    transform: translate(.6rem, .6rem);
    transition: all .1s ease;

  }
  
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  position: relative;
  &.isOpen{
    .button{
      color: $color-black;
      background-color: $color-white;
      &::after{
      transform: translate(0, 0);
    }
  }
}
  
}

.dropdown {
  height: fit-content;
  position: relative;
}