@import "@styles/theme.scss";

// Your style here


.step__circle_container{
  --circle-size: 4rem;
  position: relative;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step__circle{
  border-radius: 50%;
  width: var(--circle-size);
  height: var(--circle-size);
  background-color: $color-black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes dash {
  from{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.step__svg{
  width: 5rem;
  height: 5rem;
  overflow: visible;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.step__number{
  color: $color-white;
  font-family: $font-decay;
  font-size: 2.4rem;
}

.step__info{
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2rem;
  font-family: $font-inter;
  text-transform: uppercase;
  color: $color-info;
}

.step__label{
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.8rem;
  font-family: $font-inter;
  color: $color-black;
}

.step__bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.step{
  font-size: 5rem;
  color: $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  .step__circle_container{
    opacity: .5;
    transition: all calc(var(--animation-duration) / 8) ease;
  }
  .step__svg{
    opacity: 0;
  }
  &.active{
    .step__circle_container{
      opacity: 1;
      transform: scale(1.5);
    }
    .step__svg{
      opacity: 1;
      animation: dash var(--animation-duration) linear forwards;
    }
  }
  &:not(.active){
    cursor: pointer;
  }
}
