@import "@styles/theme.scss";

.gallery {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #000000;

    &__container {
        height: 100%;
        width: 100%;
        display: -webkit-box;

        figure {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 5%;

            @include landscape {
                padding: 5% 0;
            }
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}

.emoji {
    --emoji-size: 10vw;
    position: absolute;
    top: 100%;
    height: var(--emoji-size);
    width: var(--emoji-size);
    animation: emoji_anim 4s ease-in-out;
    z-index: 100;
}

@keyframes carrousel {
    0% {
        transform: translate3d(-50%,-50%,0);
    }
    100% {
        transform: translate3d(-150%,-50%,0);
    }
}

@keyframes emoji_anim {
    0% {
        transform: translate3d(0, 0vh, 0);
    }
        
    90% {
        transform: translate3d(0, -60vh, 0);
    }

    100% {
        transform: translate3d(0, -60vh, 0) scale(1.15);
    }
}