@import "@styles/theme.scss";

.backLink {
    position: fixed;
    top: 13.6rem;
    z-index: 100;
}

.headSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
    position: sticky;
    top: 8.6rem;
    z-index: 10;
    background-color: $color-beige;
    padding-top: 3.2rem;
    padding-bottom: 2rem;
    height: 18rem;
    overflow: hidden;
    transition: height .2s ease-in;


    &.scrollDown {
        height: 10rem;
    }
}

.searchBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.filters {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    .date {
        display: flex;
        align-items: center;
        gap: .8rem;
        cursor: pointer;

        div {
            transition: transform .3s ease-in-out;
        }

        &[data-order="asc"] {
            div {
                transform: rotate(180deg);
            }
        }

        &[data-order="dsc"] {
            div {
                transform: none;
            }
        }
    }
}

.bodySection {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    grid-gap: 1.6rem;

    .body__ctn > div + div {
        margin-top: 2rem;
    }
}