

@import "@styles/theme.scss";


.icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.success{
  svg, path, circle, rect{
    fill: $color-success;
    stroke: $color-success;
  }
}

.info{
  svg, path, circle, rect{
    fill: $color-info;
    stroke: $color-info;
  }
}

.error{
  svg, path, circle, rect{
    fill: $color-error;
    stroke: $color-error;
  }
}

.black{
  svg, path, circle, rect{
    fill: $color-black;
    stroke: $color-black;
  }
}

.white{
  svg, path, circle, rect{
    fill: $color-white;
    stroke: $color-white;
  }
}

.grey-500{
  svg, path, circle, rect{
    fill: $color-grey-500;
    stroke: $color-grey-500;
  }
}

.dark{
  svg, path, circle, rect{
    fill: $color-artist-black;
    stroke: $color-artist-black
  }
}