@import "@styles/theme.scss";

// Your style here

.container {
  opacity: 0;
  visibility: hidden;
  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(45, 45, 45, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  max-width: 100vw;
  max-height: 80vh;
  padding: 2.4rem 3.2rem;
  border: 0.2rem solid $color-black;
  background-color: $color-white;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
}

.cross {
  cursor: pointer;
  margin-left: 2rem;
}
