@import "@styles/theme.scss";

// Your style here

.formHeader {
}

.container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-bottom: 66px;
  padding-top: 88px;
}

.formContainer {
  max-width: 80rem;
  min-width: 40vw;
}

.formContainer {
  max-width: 80rem;
  min-width: 40vw;
}
