@import "@styles/theme.scss";

.title {
    text-align: center;
    margin-top: 4rem;
}

.subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.6rem 0;
}

.worksList {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}