@import "@styles/theme.scss";

// Your style here

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 3rem;
}

.formTwoContainer,
.ctaContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


.toolTip {
  width: 416px;
  margin-top: 40px;
}