@import "@styles/theme.scss";

// Your style here
.container {

    $anim-duration: .2s;

    label {
        display: flex;
        align-items: center;
        cursor: pointer;
        width: fit-content;

        &[data-guidance = true] {
            display: grid;
            grid-template-columns: 24px 1fr;
            grid-template-rows: 24px 24px;
            gap: 0 .6rem;

            .guidance_container {
                grid-column: 2;
            }
        }

        &[data-disabled = true] {
            cursor: pointer;
            pointer-events: none;

            .box {
                border-color: $color-disabled;
            }
            
            p {
                color: $color-disabled;
            }

            &[data-guidance = true] {
                display: flex;

                .guidance_container {
                    display: none;
                }
            }

            input:checked ~ .box {
                background-color: $color-disabled;
    
                &::after {
                    background-image: url('./../../../public/icons/checkmark-icon.svg');
                }
            }
        }

        .box {
            position: relative;
            height: 24px;
            width: 24px;
            margin-right: .6rem;
            background-color: $color-white;
            border: 2px solid $color-black;
            will-change: background-color;
            transition: all $anim-duration ease-in-out;
    
            &::after {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                height: 17px;
                width: 17px;
                transform: translate3d(-50%, -50%, 0);
                opacity: 1;
                will-change: opacity;
            }
    
            &:focus {
                // background-color: $color-grey;
            }
        }
    
        .input {
            display: none;
    
            &:checked ~ .box {
                background-color: $color-black;
    
                &::after {
                    background-image: url('./../../../public/icons/checkmark-icon.svg');
                }
            }
        }
    }
}

