@import "@styles/theme.scss";

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.portrait {

    & .sizeFull {
        width: 100%;
        aspect-ratio: 358 / 640;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-black;
    }

    & .sizeSmall {
        width: 60%;
        aspect-ratio: 233 / 416;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-black;
    }

    & .image {
        width: 90%;
    }
}
  
.landscape {

    & .sizeFull {
        width: 100%;
        aspect-ratio: 640 / 358;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-black;
    }

    & .sizeSmall {
        width: 100%;
        aspect-ratio: 416 / 233;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-black;
    }

    & .image {
        max-width: 100%;
        width: auto;
        height: 90%;
    }
}

.tag {
    width: fit-content;
    align-items: center;
    padding: .8rem;
    position: absolute;
    top: 10px;
    right: 10px;

    & > p {
        font-weight: bold;
    }
}

.isRemaining {
    border: 2px solid $color-success;
    color: $color-success;
    background-color: $color-white;
}

.isIncoming {
    border: 2px solid $color-progress;
    color: $color-progress;
    background-color: $color-white;
}

.isPending {
    border: 2px solid $color-warning;
    color: $color-warning;
    background-color: $color-white;
}

.isRefused {
    border: 2px solid $color-error;
    background-color: $color-white;
}
  
.image {
    object-fit: cover;
  }
  