/* colors */
$color-black: #252525;
$color-grey-dark: #424242;
$color-white: #f8f8f8;
$color-beige: #f8f5f1;
$color-grey: #D0D0D0;
$color-yellow: #F8DBA2;
$color-grey-400: #8B8B8B;
$color-grey-500: #757575;
$color-violet: #F3C3EC;
$color-pink: #E8A2DB;
$color-error: #f24b4b;
$color-error-light: #f8dfdf;
$color-success: #469b4a;
$color-success-light: #d0f0d1;
$color-info: #757575;
$color-info-light: #e9e9e9;
$color-disabled: #999999;
$color-progress: #CE44FF;
$color-warning: #CC8532;
$color-sementic-progress-light: #F0C3FF;
$color-artist-black: #0E0E0E;
$color-placerHolder: #8B8B8B;
$color-specific-expo: #FFE1B5;
$color-aqua: #90D8CB;

/* fonts */
$font-inter: "Inter";
$font-decay: "Decay";

/* breakpoints */
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

