/* colors */
$color-black: #252525;
$color-white: #f8f8f8;
$color-beige: #f8f5f1;
$color-error: #f24b4b;
$color-error-light: #f8dfdf;
$color-success: #469b4a;
$color-success-light: #d0f0d1;
$color-info: #757575;
$color-info-light: #e9e9e9;

/* fonts */
$font-inter: "Inter";
$font-decay: "Decay";

/* breakpoints */
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

