@import "@styles/theme.scss";

@keyframes appears-scale {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes appears-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.heading-strong {
    @include typo-heading-lg;
    position: relative;
    z-index: 2;
    h1{
        opacity: 0;
        animation: appears-opacity .2s .4s linear forwards;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0.1em;
        left: -0.3em;
        width: 1.8em;
        height: 0.33em;
        z-index: -1;
        transform: scale(0);
        transform-origin: left;
        animation: appears-scale .3s linear forwards;

    }
}

// Element Colors

.black::before {
    background-color: $color-black;
}

.white::before {
    background-color: $color-white;
}

.beige::before {
    background-color: $color-beige;
}

.yellow::before {
    background-color: $color-yellow;
}

.specific-expo::before {
  background-color: $color-specific-expo;
}

.pink::before {
    background-color: $color-pink;
}

.error::before {
    background-color: $color-error;
}

.error-light::before {
    background-color: $color-error-light;
}

.success::before {
    background-color: $color-success;
}

.success-light::before {
    background-color: $color-success-light;
}

.violet::before {
  background-color: $color-violet;
}

.info::before {
    background-color: $color-info;
}

.info-light::before {
    background-color: $color-info-light;
}


.lg{
  font-size: 6rem;
}
.md{
  font-size: 4rem;
}
.sm{
  font-size: 2rem;
}