@import "@styles/theme.scss";

// Your style here

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    align-content: center;
    color: $color-white;
    text-align: center;
    overflow: hidden;
}

.images {
    display: grid;
    align-content: center;
    img {
        width: 100%;
    }
}